<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<!-- core -->
	<script type="text/javascript" src="../library/core/LibScormException.js"></script>
	<script type="text/javascript" src="../library/core/LMS.js"></script>
	<script type="text/javascript" src="../library/core/CMIBag.js"></script>
	<script type="text/javascript" src="../library/core/InterScoSeq.js"></script>
	<script type="text/javascript" src="../library/core/Decorators.js"></script>

	<!-- multipage -->
	<script type="text/javascript" src="../library/multipage/XMLHttpRequest.js"></script>
	<script type="text/javascript" src="../library/multipage/swfobject.js"></script>
	<script type="text/javascript" src="../library/multipage/Nav.js"></script>
	<script type="text/javascript" src="../library/multipage/Decorators.js"></script>
	
	<!-- template -->
	<script type="text/javascript" src="../library/template/DebugConsole.js"></script>
	<script type="text/javascript" src="configure.js"></script>
	<script type="text/javascript" src="../library/template/Boilerplate.js"></script>

	<link rel="stylesheet" type="text/css" href="screen.css" />
	<title>SCO</title>
</head>
<body onload="boilerplate_load();" onunload="boilerplate_unload();">
	<!-- divs for boilerplate -->
	<div id="nav"></div>
	<div id="debug"></div>
	<div id="content"></div>
</body>
</html>
